body {
  font-family: 'Sintony', sans-serif; }

.btn-solid {
  color: #fff;
  background: #977dc4;
  text-transform: uppercase;
  padding: 1em 3em;
  font-weight: bold;
  border-radius: 2px;
  border: 2px solid #977dc4; }
  .btn-solid:hover {
    color: #fff; }

.btn-outline {
  color: #B5BDC4;
  text-transform: uppercase;
  padding: 1em 3em;
  font-weight: bold;
  border-radius: 2px;
  border: 2px solid #B5BDC4; }
  .btn-outline:hover {
    color: #B5BDC4; }

#landing {
  background: #977dc4;
  color: #fff;
  text-align: center;
  padding-top: 3em; }
  #landing nav a {
    color: #B5BDC4;
    text-decoration: none;
    margin-left: 1.5em;
    padding-bottom: 0.5em; }
    #landing nav a.active {
      color: #fff;
      font-weight: bold;
      border-bottom: 2px solid white; }
    #landing nav a:hover {
      border-bottom: 2px solid white; }
  #landing a.action {
    background: #4BD9DD;
    width: 12em; }
  #landing h1 {
    margin-top: 2em;
    font-size: 4em; }
  #landing p.tagline {
    font-size: 1.3em; }
  #landing .image-container {
    position: relative; }
    #landing .image-container img {
      margin-top: 4em;
      width: 100%; }
    #landing .image-container .likes {
      position: absolute;
      bottom: 1em;
      right: 1em;
      font-size: 1.8em; }
      #landing .image-container .likes i {
        margin-right: 0.2em; }
    #landing .image-container .caption {
      position: absolute;
      bottom: 1em;
      left: 2em;
      text-align: left; }
      #landing .image-container .caption p.title {
        font-size: 1.5em;
        font-weight: bold;
        margin: 0; }
    #landing .image-container .edit {
      position: absolute;
      top: 1em;
      right: 1em;
      font-size: 2em;
      background: rgba(0, 0, 0, 0.5);
      padding: 0.3em 0.4em; }

#intro {
  background: #fff;
  color: #B5BDC4;
  text-align: center;
  padding: 3em 0em; }
  #intro a.try-demo {
    margin-left: 1em; }
  #intro h2 {
    margin: 2em 0 0.7em; }
  #intro p {
    font-size: 1.2em; }

#features {
  background: #F7F7F5;
  color: black; }
  #features .container {
    background-image: url("../assets/slanted-phone.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 100%;
    text-align: center; }
  @media (min-width: 768px) {
    #features {
      color: #B5BDC4; }
      #features .container {
        text-align: left;
        padding: 5em 1em 14em;
        background-size: auto; } }

#takelook {
  background: #977dc4;
  color: #fff;
  padding: 2em 0em 4em;
  text-align: center; }
  #takelook a.take-money {
    background: #4BD9DD;
    border: 2px solid #4BD9DD;
    padding: 1em 2em; }
  #takelook a.free-account {
    margin-left: 1em;
    padding: 1em 2em; }
  #takelook h2 {
    margin: 2em 0 0.7em;
    text-transform: uppercase; }
  #takelook p {
    margin-bottom: 2em; }

#videodemo .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
#videodemo .video-container iframe,
#videodemo .video-container object,
#videodemo .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#options {
  background: #F7F7F5;
  color: #B5BDC4;
  text-align: center;
  padding: 3em 0em 4em; }
  #options i {
    font-size: 3em;
    color: #977dc4; }
  #options a {
    color: #977dc4;
    font-weight: bold; }
  #options .smabove {
    display: none; }
  #options .onlyxs {
    display: block;
    margin: 0em 0em 2em;
    padding-bottom: 0em; }
  @media (min-width: 768px) {
    #options .smabove {
      display: inline; }
    #options .onlyxs {
      display: none; } }

#pricing {
  background: #fff;
  color: #977dc4;
  padding: 2em 0em 3em;
  text-align: center; }
  #pricing h2 {
    text-transform: uppercase; }
  #pricing .price-option {
    border: 1px solid #B5BDC4;
    color: #B5BDC4;
    position: relative;
    border-radius: 10px;
    height: 38em;
    margin-bottom: 2em; }
    #pricing .price-option h3 {
      text-transform: uppercase;
      background: #977dc4;
      color: #fff;
      border-radius: 10px 10px 0 0;
      margin: 0;
      padding: 0.6em 0em; }
    #pricing .price-option .reason {
      padding: 0.8em 0.5em;
      border-bottom: 1px solid #B5BDC4;
      margin: 0em 2em;
      font-weight: bold; }
    #pricing .price-option .price-title {
      font-size: 1.5em; }
    #pricing .price-option p.price-desc {
      margin: 2em 1em;
      font-weight: bold; }
    #pricing .price-option a.sign-up {
      position: absolute;
      bottom: 2em;
      left: 2em;
      right: 2em;
      border: 2px solid #977dc4; }
      #pricing .price-option a.sign-up.btn-outline {
        color: #977dc4; }

#mountains img {
  width: 100%; }
#mountains .take-my-money {
  text-align: center;
  background: #977dc4;
  padding: 3em 0em; }
  #mountains .take-my-money .take-money {
    background: #4BD9DD; }

#footer {
  color: #B5BDC4;
  padding: 2em 0em; }
  #footer a {
    margin-right: 1em;
    font-weight: bold;
    color: #B5BDC4; }
  #footer h3 {
    text-transform: uppercase; }
  @media (min-width: 768px) {
    #footer a {
      display: block; } }

/*# sourceMappingURL=app.css.map */
