#landing {
  background : #a28cca;
  color: #fff;
  text-align: center;

  nav a {
  color: #fff;
  }

  a.action {
  color : #fff;
  text-transform: uppercase;
  width: 12em;
  font-size: 0.8em;
  background: #4FDADD;
  border-radius: 2px;
  }

}

