body {
    font-family: 'Sintony', sans-serif;
}

.btn-solid {
    color: $light-font-color;
    text-transform: uppercase;
    width: 12em;
    padding: 1em 3em;
    font-weight: bold;
    border-radius: 2px;
    &:hover {
        color: $light-font-color;
    }
}

.btn-outline {
    color: $dark-font-color;
    text-transform: uppercase;
    width: 12em;
    padding: 1em 3em;
    font-weight: bold;
    border-radius: 2px;
    border: 2px solid $dark-font-color;
}
