#intro {
    background: $light-font-color;
    color: $dark-font-color;
    text-align: center;
    padding: 2em 0em;
    a.get-started {
        width: 12em;
    }
    a.try-demo {
        margin-left: 1em;
    }
    h2 {
        margin: 2em 0 0.7em;
    }
    p {
        font-size: 1.2em;
    }
}
