#mountains {
    img {
        width: 100%;
    }
    .take-my-money {
        text-align: center;
        background: $primary-color;
        padding: 3em 0em;
        .take-money {
            background: $secondary-color;
        }
    }
}
